.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  left: 147px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-left: 700px;
  column-gap: 653px;

  h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.625rem;
  }

  button {
    width: 139px;
    height: 57px;

    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
  }
}
