* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%; // 15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; // 14px
  }
}

:root {
  --background: linear-gradient(180.96deg, #000000 0.82%, #4A2800 129.1%);
  --black: #000000;
  --primary: #ffff;
  --secondary:  #FA9021;
}

body {
  background: var(--black);
}

body, button, textarea, input {
  color: var(--primary);
  font: 400 1rem "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }
}
